#hero {
	text-align: center;
	font-weight: 700;
}

#hero h2 {
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 150%;

	letter-spacing: 0.08em;
	color: var(--brand-primary);
	padding-top: 13.5rem;
	margin-bottom: 1.6rem;
}

#hero h1 {
	font-size: 3.4rem;
	line-height: 130%;

	color: var(--head-line);
	margin-bottom: 2.4rem;
}

#hero p {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 150%;
	text-align: center;

	color: var(--gray-paragraph);
	margin-bottom: 3.2rem;
}

#hero .button,
#contact .button {
	margin: auto;
	width: fit-content;

	padding: 1.7rem 3.2rem;
	border-radius: 6rem;
	background-color: var(--brand-primary);

	color: var(--brand-light-02);
	font-size: 1.4rem;
	line-height: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 0.04em;

	display: flex;
	align-items: center;
	gap: 1.6rem;

	margin-bottom: 6rem;
	transition: 0.3s background-color;
}

#hero .button svg path,
#contact .button svg path {
	fill: var(--brand-light-02);
}

#hero .button:hover,
#contact .button:hover {
	background-color: var(--brand-primary-hover);
}

#hero img {
	width: 26.4rem;
	display: block;
	margin-inline: auto;
	object-position: 0 2rem;
}

.details {
	background: var(--brand-beige);
	padding-block: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6rem;

	border: 1px solid var(--brand-light);
	border-radius: 0.6rem;
}

.details::before {
	content: '';
	position: absolute;
	top: 0;
	z-index: -1;

	background-color: var(--brand-light);
	width: 100%;
	height: 130vh;
}

.details .items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.details .items span {
	color: var(--gray-headline);
	font-size: 4.8rem;
	line-height: 130%;
}

.details .items p {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 150%;
	color: #00856f;
}
